* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Peralta, sans-serif;
}

#title {
  text-align: center;
  margin: 40px 0;
}

#color-palette {
  text-align: center;
  margin-top: 70px;
}

#color-palette .color {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin: 0 20px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 100%;
}

#button-random-color {
  margin-left: 50px;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

#pixel-board {
  text-align: center;
  padding-top: 30px;
}

#pixel-board .pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  vertical-align: middle;
  cursor: pointer;
}

#button-container {
  text-align: center;
  margin-top: 40px;
}

#clear-board {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  line-height: 10px;
}

#input-container {
  padding-top: 30px;
  text-align: center;
}

#input-container input {
  margin-top: 10px;
  width: 50px;
  padding: 5px;
  text-align: center;
  font-size: 21px;
}

#input-container button {
  display: inline-block;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  line-height: 10px;
  margin-left: 20px;
}

#input-container input:focus {
  outline: 0;
}
